body{
	background-color: #fff;
}
.button{
	border-radius: 0;
	font-family: Ringside;
	font-weight: bold;
	min-width: 180px;
	text-transform: uppercase;
	
	// .button{
		border: 2px solid $blue;
		&:hover{
			background-color: transparent;
			color: $blue;
		}
	// }
	
}
.gap-25{
	height: 25vw;
}
.gap-50{
	height: 50vw;
}
.gap-75{
	height: 75vw;
}
.fade-me{
	opacity: 0;
	transition: opacity 1500ms;
	&.delay{
		transition-delay: 2s;
	}
	&.slow{
		transition: opacity 2500ms;
	}
}
.faded-in{
	opacity: 1;
	transition: opacity 1500ms;
}


//===================
// NAV
//===================
#nav{
	background-color: $white;
	height: 75px;
	position: fixed;
	transition: all 300ms;
	top: 0;
	width: 100%;
	z-index: 5;
	&.scrolled{
		box-shadow: 0px 8px 10px 0px rgba($gray, 0.5);
		transition: all 500ms;
	}
	&.up{
		top: -75px;
		transition: all 300ms;
	}
	img#navLogo{
		padding: 15px;
		position: relative;
		top: 12px;
		transition: all 500ms;
		width: 200px;
		
		// Unused
		// &.initial{
			// opacity: 0;
		// }
	}
	#navLinks{
		// Unused
		// &.initial{
			// opacity: 0;
			// transition: all 500ms;
		// }
	}
	ul{
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;
		li{
			display: inline-block;
			line-height: 75px;
			padding: 0 25px 0 0;
			text-align: right;
			a{
				font-weight: bold;
			}
		}
	}
}
//===================
// HOMEPAGE
//===================
#home{
	&.locked{
		overflow-y: hidden;
		#nav{
			opacity: 0;
		}
	}
	#preHero{
		background-color: $gray;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		&.clicked{
			background-color: transparent;
			opacity: 0;
			height: 0;
		}
	}
	#hero{
		p{	// IMPORTANT: de facto container.
			width: 50vw;
		}
		#logoTrigger{
			// background: #f0f;
			height: 40vh;
			left: 0;
			position: absolute;
			width: 1px;
		}
		#heroText{
			background-image: url('/images/usandthem.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 80%;
			height: 400px;
			position: relative;
			width: 50vw;
			@include breakpoint(medium){
				background-position: right;
				background-size: 300px;
				height: 100vh;
				width: auto;
			}
		}
		#spaceman{
			background-image: url('/images/spaceman.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: 400px;
			width: 100%;
			@include breakpoint(medium){
				background-size: 200px;
				height: 100vh;
				img{
					height: 80vh;
				}
			}
		}
		#enterButton{
			margin: 12.5vw auto;
			width: 240px;
			.button{
				opacity: 0;
				transition: all 500ms;
				width: 100%;
				z-index: 4;
				&.faded-in{
					opacity: 1;
					transition: all 500ms;
				}
			}
			@include breakpoint(medium){
				width: 200px;
				bottom: 0;
				margin: 0 50px 0 auto;
				position: relative;
				top: 60%;
			}
		}
	} // #hero
	
	#SUPERFUTURE{
		background-image: url('/images/sf-placeholder.jpg');
		height: 100vh;
		text-align: center;
		h1{
			// margin: 0 auto 45px;
		}
		#SFoverlay{
			height: 100%;
			width: 100%;
			background-color: rgba($white, 0.8);
		}
		#SFvid{
			.hidden{
				opacity: 0;
			}
		}
		iframe{
			@include breakpoint(medium){
				height: 360px;
				width: 640px;
			}
			@include breakpoint(large){
				height: 574px;
				width: 1020px;
			}
		}
	}
	
	#album{
		padding-top: 120px;
	}
	
}	// #home



