extends ../template

block content
	#preHero
	#hero: .grid-container: .grid-x.grid-padding-x.align-center.align-middle
	
		#logoTrigger
		
		//- MOBILE VERSION
		//-===============
		.hide-for-medium
			.grid-x.align-center.align-middle
				.cell.small-7: #heroText
				.cell.small-5: #spaceman: p
				//- .cell.small-12: p#enterButton: a.button.fade-me.delay Enter
				.cell.small-12: p#enterButton: a.button.scroll(href="#SUPERFUTURE") Enter
			
		//- DESKTOP VERSION
		//-===============
		.show-for-medium
			.grid-container-x: .grid-x.align-center.align-middle
				.cell.medium-6: #heroText
					//- p#enterButton: a.button.fade-me.delay Enter
					p#enterButton: a.button.scroll(href="#SUPERFUTURE") Enter
				.cell.medium-6: #spaceman: p
		
	#SUPERFUTURE
		#SFoverlay
			.grid-x.align-center: .cell
				h1 <span class="bigger">SUPERFUTURE</span>
				p The first of many new songs is here to stay.
				p: a#watch.button Watch Video Now
			#SFvid.hidden
				iframe(width="360" height="240" src="https://www.youtube.com/embed/3bfV1MQTavg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

	.grid-x.align-center: #album
		.cell.small-12
			h1 THE LATEST
			// Filled with instagram html
			#instaBay
			
block js
	script.
		$(function(){
			
			var hideNavLogo = false;
			function checkForLogo(){
				if($("#home > #hero").is(":in-viewport") && hideNavLogo == false){
					$("#navLogo").fadeOut('slow');
					hideNavLogo = true;
				}else if(!$("#home > #hero").is(":in-viewport") && hideNavLogo == true){
					$("#navLogo").fadeIn('slow');
					hideNavLogo = false;
				}
			}
			checkForLogo();
			
			// Prevent lock bug for half load
			if($(window).scrollTop() !== 0){
				console.log("GOT THE CASE!");
				window.scrollTo(0, 0);
			}
			
			// ENTER BUTTON STUFF
			setTimeout(function(){
				console.log("BUTTON IS IN");
				$("#enterButton > .button").addClass('faded-in');
			}, 2000);
			
			// default in app.js is 750
			var scrollSpeed = 1000;
			
			$("#enterButton .button").mouseover(function(){
				$("#preHero").fadeOut('slow');
				console.log("its working");
			}).mouseout(function(){
				$("#preHero").fadeIn('slow');
			});
			
			$("#enterButton .button").click(function(){
				$("#preHero").addClass('clicked');
				$("#home").removeClass('locked');
				$("#navLogo").fadeIn();
			});
			
			// FADE IN ELEMENTS (PUT IN GLOBAL INSTEAD?)
			$(window).scroll(function(){
				$.each($(".fade-me"), function(){
					if($(this).is(":in-viewport") && !$(this).hasClass("faded-in")){
						$(this).addClass("faded-in");
					}
				});
				checkForLogo();	// Run onscroll too
			});
			
			
			// Maybe in the future this is useful.
			// slash you can figure out how to make a mosaic.
			var insta_urls = [
				'http://instagr.am/p/fA9uwTtkSN/',
				'http://instagr.am/p/fA9uwTtkSN/'
			];
			
			insta_urls.forEach(function(url){
				$.post('https://api.instagram.com/oembed?url='+url, function(res){
					if(res){
						$("#instaBay").html(res.html);
					}
				});
			});
			
		});