include ./mixins/flash-messages

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		
		title='USandTHEM'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		
		//- CDN
		// FontAwesome
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
		
		//- SASS compiled CSS
		link(rel="stylesheet" href="/css/app.css")
		
		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		
		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]
		block css
		block head
	
		body(id=locals.section class = locals.section=='home' ? 'locked':'')
		
		nav#nav(role="navigation")
			a(href="/")
				img#navLogo(src="/images/nav-logo.png").initial
			ul#navLinks.initial
				li: a(href="/") LATEST
				li: a(href="/") CONTACT
				
				
		block content
		
		script(src="/plugins/jquery.min.js" type="text/javascript")
		script(src="/plugins/foundation.min.js" type="text/javascript")
		script(src="/plugins/in-viewport.min.js" type="text/javascript")
		script(src="/plugins/parallax.min.js" type="text/javascript")
		script(src="/js/app.js" type="text/javascript")
		
		block js